body{
  background-color: black;
  text-align: center;
  vertical-align: middle;
  margin: 10%;
}

h1, h2, h3, h4, h5, h6{
  color: white;
  font-family: 'Roboto', sans-serif;
}

p{
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}

.selectText {
  -webkit-touch-callout: text; /* iOS Safari */
  -webkit-user-select: text;   /* Chrome/Safari/Opera */
  -khtml-user-select: text;    /* Konqueror */
  -moz-user-select: text;      /* Firefox */
  -ms-user-select: text;       /* IE/Edge */
  user-select: text;           /* non-prefixed version, currently
                                  not supported by any browser */
}